@import "commonStyles/main.module";

.toDoListContainer {
  width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.003);
  margin-bottom: 30px;
  line-height: 1.4em;
  background-color: $color-bg-todoList;
  color: $text-color;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.paperLists {
    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.15),
            0 10px 0 -5px  $color-bg-todoList,
            0 10px 1px -4px rgba(0, 0, 0, 0.15),
            0 20px 0 -10px  $color-bg-todoList,
            0 20px 1px -9px rgba(0, 0, 0, 0.15);
  }
}
